/* Default CSS 

Colors:

dark   - #472D38
bluish - #72AD97
khaki  - #D6D9BA
orange - #E6AF83
red    - #D16C5C

*/



/* utils */
.text-right {
    text-align: right;
}
.no-buffer {
    margin-top: 0;
    margin-bottom: 0;
}
.buffer-top {
    margin-top: .25em;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

/* Colors */
.dark {
    color: #472D38;
}
.blue {
    color: #72AD97;
}
.tan {
    color: #72AD97;
}
.orange {
    color: #E6AF83;
}
.red {
    color: #D16C5C;
}

/* body */
html {
    height: 100%;
    color: #472D38;
    font-family: Georgia, serif;
}
body {
    height:100%;
    padding-top: 60px;
}
.wrapper {
    background-color: #fff;
    min-height: 100%;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 1000;
}
.header-inner {
    background-color: #472D38;
    padding: .25em;
}
.header a {
    color: #fff;
}
.header a:hover {
    text-decoration: none;
}
.header .title {
    margin-top: 3px;
}
.header-inner > p {
    margin-top: 7px;
    margin-bottom: 0;
    float: right;
}
.header-inner > img {
    margin: 0 20px 0 0 ;
}
.header-inner > * {
    display: block;
    float: left;
    line-height: 1;
}

.header-inner {
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #472D38;
  background-image: -moz-linear-gradient(top, #755B74, #472D38);
  background-image: -ms-linear-gradient(top, #755B74, #472D38);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#755B74), to(#472D38));
  background-image: -webkit-linear-gradient(top, #755B74, #472D38);
  background-image: -o-linear-gradient(top, #755B74, #472D38);
  background-image: linear-gradient(top, #755B74, #472D38);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#755B74', endColorstr='#472D38', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

/* text */
.title {
    font-size: 1.5em;
}
h1, h2, h3 {
    font-family: 'Averia Serif Libre', Georgia, serif;
}
a, a:hover {
    color: #D16C5C;
}

.msg {
    color: #fff;
    padding: 5px 10px;
    background-color: #D6D9BA;
    margin-bottom: .5em;
    border-radius: 5px;
}
    .msg > p {
        margin-bottom: 0;
    }
    .msg-error{
        background-color: #D16C5C;
    }
    .msg-success{
        background-color: #72AD97;
    }
    .msg-info{
        background-color: #D6D9BA;
    }
    .msg-warning{
        background-color: #E6AF83;
    }

/* Logo */
.logo,
.logo img{
    display:block;
    width:32px; /* Width of your logo in pixels (ideally a round grid-number) */
    height:32px; /* Height of your logo in pixels */
}
/* Based on the fact that we need to use an <img /> in our markup, let’s hide the actual image and use a background on the <a>--this gives us semantically sound markup and the ability to use sprites for hover effects! */
.logo{
    background: url('../img/graph-xsmall.png');
}
    .logo:hover{
        /* Hover states */
        background-position:0 -00px;
    }
.logo img{
    position:absolute;
    left:-99999px;
}